<p id="notice"><%= notice %></p>

<h1>Joe's Pizza</h1>

<table>
  <thead>
    <tr>
      <th>Our Pizzas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td>Type of Crust: <%= pizza.crust %></td>
        <td>This pizzas contains:<%= pizza.recipe %></td>
        <td><%= render "pizza_row", pizza: pizza, order_item: @order_item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>




