<p id="notice"><%= notice %></p>

<h1>Crusts</h1>

<table>
  <thead>
    <tr>
      <th>Typecrust</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crusts.each do |crust| %>
      <tr>
        <td><%= crust.typecrust %></td>
        <td><%= crust.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


